@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+SC&display=swap");

.Results-div {
  display: flex;
  flex-direction: column;
}
.search-Heading {
  font-family: "Encode Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 56px;
  text-transform: lowercase;
  margin: 20px;
  color: #000000;
}
.search-cards-div {
  display: flex;
}
